body {
    margin: 0; /* Убирает отступы по краям страницы */
    padding: 0; /* Убирает внутренние отступы */
    display: flex; /* flexbox для центрирования содержимого */
    flex-direction: column; /* Элементы располагаются в колонку */
    align-items: center; /* Выравнивает элементы по центру по горизонтали */
    justify-content: center; /* Выравниваемт элементы по центру по вертикали */
    min-height: 100vh; /* Минимальная высота экрана - 100% высоты окна браузера */
    transform: translateY(-200px); /* Смещает содержимое вверх на 200px */
}

.panel {
    border: 2px solid black; /* Тонкая черная граница вокруг панели */
    background: #eaecee; /* Светло-серый фон панели */
    padding: 20px; /* Внутренний отступ внутри панели */
    border-radius: 8px; /* Скругляем углы панели */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Тень для эффекта объема */
    max-width: 600px; /* Ограничивает максимальную ширину панели */
    width: 90%;  /* Чтобы панель адаптировалась под экран */
}

/* Эффект при наведении */
#car-form button:hover {
    background-color: #cacfd2; /* Меняем цвет кнопки при наведении */
}
